{{ define "home" }}

<!DOCTYPE html>
<html lang="en">
  {{ template "header" }}

  <body>

    {{ template "navbar" }}

    <div class="container">

      <div class="starter-template">
        <h1>Muhammad Ali Kahoot</h1>
        <h3> Senior DevOps Engineer & Trainer </h3>
        <p class="lead"> Currently, I am working remotely as a Senior SRE at pawaPay, a UK-based fintech company which is connects mobile money in Africa Region handling over 2 million transactions a day. </p>
        <p class="lead"> DevOps Consultant at Daleel </p>
        <p class="lead"> Part Time DevOps Trainer at Dice Analytics and have conducted more than 10 iterations </p>
        <p class="lead"> Former Lead DevOps Engineer at Tarabut Gateway, UAE </p>
        <p class="lead"> Former Team Lead, DevOps Engineer for Stakater, Sweden </p>
        <p class="lead"> Former Software Engineer at Bentley Systems </p>
        
      </div>

    </div><!-- /.container -->

    {{ template "footer" }}
  </body>
</html>
{{ end }}