{{ define "home" }}

<!DOCTYPE html>
<html lang="en">
  {{ template "header" }}

  <body>

    {{ template "navbar" }}

    <div class="container">

      <div class="starter-template">
        <h1>Muhammad Ali Kahoot</h1>
        <h3> Senior DevOps Engineer & Trainer </h3>
        <p class="lead"> Currently working as a Lead/Senior DevOps Engineer at Tarabut Gateway, Abu Dhabi which is MENA’s first and largest regulated Open Banking platform and have successfully trained more than 400 professionals worldwide on DevOps and Kubernetes. </p>
        
      </div>

    </div><!-- /.container -->

    {{ template "footer" }}
  </body>
</html>
{{ end }}