{{ define "schedule" }}

<!DOCTYPE html>
<html lang="en">
  {{ template "header" }}

  <body>

    {{ template "navbar" }}

    <div class="container">

      <div class="starter-template">
        <h1>Public Talks</h1>
        <h3>DevOps 10 batch in progress</h3>
        <p class="lead"> Delivered a Seminar on DevOps for Google Cloud DevFest</p>
        <p class="lead"> Speaker at DevOpsCon Singapore 2021</p>
        <p class="lead"> Speaker at S&P Global DevOps Week</p>
        <p class="lead"> Speaker for Data on Kubernetes Community</p>
        <p class="lead"> Presented 4 Seminars/Webinars on DevOps</p>
        <p class="lead"> Have conducted 9 iterations of full 8-weeks DevOps Course</p>
        <p class="lead"> Have conducted 10 Bootcamps on Kubernetes for worldwide professionals</p>
      </div>

    </div><!-- /.container -->

    {{ template "footer" }}
  </body>
</html>
{{ end }}